@import url(fonts.css);
@import url(typography.css);
@import url(variables.css);

@import url(text-link.css);
@import url(button.css);
@import url(radio.css);
@import url(messenger.css);
@import url(control.css);
@import url(social-link.css);

@import url(header.css);
@import url(hero.css);
@import url(about.css);
@import url(gallery.css);
@import url(catalog.css);
@import url(painter-card.css);
@import url(events.css);
@import url(event-card.css);
@import url(projects.css);
@import url(contacts.css);
@import url(footer.css);

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1700px;
  padding-right: var(--container-padding);
  padding-left: var(--container-padding);
  margin: 0 auto;
  --container-padding: 50px;
  width: 100%;
}

section {
  padding-top: 80px;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

@media (max-width: 576px) {
  .container {
    --container-padding: 15px;
  }

  section {
    padding-top: 50px;
  }
}
