.catalog__description {
  max-width: 1080px;
  margin-bottom: 39px;
}

.catalog__painters {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

@media (max-width: 768px) {
  .catalog__description {
    margin-bottom: 41px;
  }
}
