.contacts {
  padding-top: 38px;
  padding-bottom: 38px;
  border-top: 1px solid var(--card-border-color);
}

.contacts__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  row-gap: 30px;

}

.contacts__address-title {
  line-height: 32px;
}

.contacts__address {
  font-style: normal;
  line-height: 32px;
}

.contacts__form {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.contacts__control {
  min-width: 270px;
}

.contacts__messengers-title {
  margin-bottom: 5px;
  line-height: 32px;
}

.contacts__messengers {
  display: flex;
  column-gap: 20px;
}

@media (max-width: 1024px) {
  .contacts__form-button {
    padding-right: 41px;
    padding-left: 41px;
  }

  .contacts {
    padding-top: 42px;
    padding-bottom: 44px;
  }

  .contacts__address-title {
    margin-bottom: 10px;
  }

  .contacts__address {
    font-size: 14px;
    line-height: normal;
  }

  .contacts__form {
    flex-wrap: wrap;
    row-gap: 12px;
  }
}
