.events {
  padding-bottom: 1px;
  background-color: var(--light-background-color);
  --offset: 50px;
  --offsets: 2;
  --evetnt-card-width: calc((100% - (var(--offset) * var(--offsets))) / (var(--offsets) + 1));
}

.events__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  column-gap: var(--offset);
}

@media (max-width: 1440px) {
  .events {
    --offset: 27px;
  }
}

@media (max-width: 768px) {
  .events__wrapper {
    flex-direction: column;
    row-gap: 30px;
  }
}

@media (max-width: 576px) {
  .events__title {
    margin-bottom: 12px;
  }

  .events__wrapper {
    row-gap: 20px;
  }
}
