.event-card {
  width: var(--evetnt-card-width);
}

.event-card__image {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 300px;
  align-items: center;
  justify-content: center;
}

.event-card__bottom-row {
  display: flex;
  min-height: 400px;
  padding: 13px 50px 43px;
  border: 1px solid var(--card-border-color);
  border-top-width: 0;
  flex-direction: column;
  justify-content: space-between;
}

.event-card__suptitle {
  margin-bottom: 10px;
  color: var(--placeholder-color);
}

.event-card__title {
  margin-bottom: 13px;
}
