.gallery {
  padding-bottom: 80px;
  background: url("../../assets/images/gallery-background/gallery-background-1920.jpg") no-repeat center;
  background-size: cover;
}

.gallery__title {
  margin-bottom: 20px;
  color: var(--light-text-color);
}

.gallery__wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.gallery__images {
  display: flex;
  justify-content: flex-end;
  column-gap: 50px;
}

.gallery__image img {
  width: 350px;
}

.gallery__filter {
  display: flex;
  padding-bottom: 8px;
  flex-direction: column;
  row-gap: 16px;
}

.gallery__filter-item span {
  color: var(--light-text-color);
}

@media (max-width: 1440px) {
  .gallery__wrapper {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 30px;
  }

  .gallery__images {
    width: 100%;
    justify-content: space-between;
  }
}

@media (max-width: 1024px) {
  .gallery {
    background-image: url("../../assets/images/gallery-background/gallery-background-1024.jpg");
  }


  .gallery__title {
    margin-bottom: 24px;
  }
}
