@import url(./main-menu.css);

.header {
  position: fixed;
  z-index: 100;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--dark-background-color);
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 179px;
}

.header__main-menu {
  margin-right: auto;
}

.header__button {
  width: 28px;
  height: 28px;
}

@media (max-width: 1024px) {
  .header {
    padding-top: 32px;
    padding-bottom: 24px;
  }

  .header__container {
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 24px;
  }

  .header__logo {
    max-width: 188px;
    margin: 0;
  }

  .header__logo img {
    width: 187px;
  }

  .header__main-menu {
    margin-right: 0;
    order: 3;
  }
}


