.main-menu {
  display: flex;
  align-items: baseline;
  column-gap: 96px;
}

.main-menu__link {
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  color: var(--light-text-color);
}

@media (max-width: 1024px) {
  .main-menu {
    justify-content: space-between;
  }
}
