.painter-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 50px;
}

.painter-card__photo {
  flex: 0 1 750px;
}

.painter-card__text-content {
  display: flex;
  flex: 0 1 800px;
  flex-direction: column;
  row-gap: 8px;
}

.painter-card__subtitle {
  padding-bottom: 6px;
  color: var(--placeholder-color);
}

.painter-card__description_fix {
  padding-right: 46px;
}

@media (max-width: 1200px) {
  .painter-card {
    flex-direction: column;
    row-gap: 30px;
  }

  .painter-card__photo {
    width: 100%;
    flex: unset;
  }

  .painter-card__text-content {
    flex: unset;
    row-gap: 9px;
  }

  .painter-card__description_fix {
    padding-right: 0;
  }
}
