.projects {
  padding-bottom: 80px;
}

.projects__description {
  max-width: 1080px;
  margin-bottom: 30px;
}

.projects__partners-title {
  margin-bottom: 15px;
}

.projects__partners {
  display: flex;
  column-gap: 34px;
}

.projects__partner-logo {
  width: calc(275px + (27px * 2));
  padding: 26px 27px;
  border: 1px solid var(--card-border-color);
}

.projects__partner-logo img {
  max-width: 275px;
}

@media (max-width: 1024px) {
  .projects__description {
    margin-bottom: 19px;
  }

  .projects__partners-title {
    margin-bottom: 17px;
  }

  .projects__partners {
    column-gap: 27px;
  }
}

@media (max-width: 768px) {
  .projects__description {
    margin-bottom: 26px;
  }

  .projects__partners-title {
    margin-bottom: 29px;
  }

  .projects__partners {
    justify-content: space-between;
    row-gap: 12px;
  }

  .projects__partner-logo {
    width: calc(265px + (26px * 2));
    padding: 26px 20px;
  }
}

@media (max-width: 576px) {
  .projects {
    padding-bottom: 0;
  }

  .projects__title {
    margin-bottom: 12px;
  }

  .projects__description {
    margin-bottom: 20px;
  }

  .projects__partners-title {
    margin-bottom: 11px;
    font-size: 18px;
    line-height: 32px;
  }

  .projects__partners {
    flex-direction: column;
    align-items: center;

  }
}

@media (max-width: 480px) {
  .projects__partner-logo {
    width: 100%;
    padding: 29px 63px;
  }
}
