.button {
  display: block;
  width: fit-content;
  outline: 2px solid transparent;
  outline-offset: 5px;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
  transition: color var(--func) var(--timing), border-color var(--func) var(--timing), background-color var(--func) var(--timing), outline-color var(--func) var(--timing);
}

.button_primary {
  padding: 17px 35px;
  border: 3px solid var(--button-background-color);
  border-radius: 100px;
  background-color: var(--button-background-color);
  color: var(--light-text-color);
}

.button_primary:focus {
  outline-color: var(--outline-button-color);
}

@media (hover: hover) {
  .button_primary:hover {
    outline-color: transparent;
    border-color: var(--hover-button-border-color);
  }
}

.button_primary:active {
  outline-color: transparent;
  background-color: var(--active-button-background-color);
}

.button_icon-only {
  padding: 0;
  outline: 4px solid transparent;
  outline-offset: 0;
  border: none;
  background-color: transparent;
}

.button_icon-only svg path,
.button_icon-only svg rect {
  transition: fill var(--func) var(--timing);
  fill: var(--light-text-color);
}

.button_icon-only:focus {
  outline-color: var(--active-dark-color);
  background-color: var(--active-dark-color);
}

@media (hover: hover) {
  .button_icon-only:hover {
    outline-color: transparent;
    background-color: transparent;
  }

  .button_icon-only:hover svg path,
  .button_icon-only:hover svg rect {
    fill: var(--hover-dark-color);
  }
}

.button_icon-only:active {
  outline-color: transparent;
  background-color: transparent;
}

.button_icon-only:active svg path,
.button_icon-only:active svg rect {
  fill: var(--acent-color);
}

.button_underlined {
  padding-bottom: 3px;
  outline-offset: 0;
  outline-width: 8px;
  border-bottom: 1px solid var(--acent-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  color: var(--acent-color);
}

.button_underlined:focus {
  outline-color: var(--acent-color);
  border-color: var(--light-text-color);
  background-color: var(--acent-color);
  color: var(--light-text-color);
}

@media (hover: hover) {
  .button_underlined:hover {
    outline-color: transparent;
    border-color: var(--active-button-background-color);
    background-color: transparent;
    color: var(--active-button-background-color);
  }
}

.button_underlined:active {
  border-color: var(--dark-text-color);
  color: var(--dark-text-color);
}
