@import url(./fonts.css);
@import url(./typography.css);
@import url(./variables.css);

@import url(./ui-kit/text-link.css);
@import url(./ui-kit/button.css);
@import url(./ui-kit/radio.css);

@import url(./components/header.css);
@import url(./components/hero.css);
@import url(./components/about.css);
@import url(./components/gallery.css);
@import url(./components/catalog.css);
@import url(./components/painter-card.css);
@import url(./components/events.css);
@import url(./components/event-card.css);
@import url(./components/projects.css);


.container {
  max-width: 1600px;
  margin: 0 auto;
}

section {
  padding-top: 80px;
}

@media (max-width: 1024px) {
  .container {
    max-width: 924px;
  }
}
