@import url(./fonts.css);
@import url(./typography.css);
@import url(./variables.css);

@import url(./ui-kit/text-link.css);
@import url(./ui-kit/button.css);
@import url(./ui-kit/radio.css);
@import url(./ui-kit/messenger.css);
@import url(./ui-kit/control.css);
@import url(./ui-kit/social-link.css);

@import url(./components/header.css);
@import url(./components/hero.css);
@import url(./components/about.css);
@import url(./components/gallery.css);
@import url(./components/catalog.css);
@import url(./components/painter-card.css);
@import url(./components/events.css);
@import url(./components/event-card.css);
@import url(./components/projects.css);
@import url(./components/contacts.css);
@import url(./components/footer.css);


.container {
  max-width: 1700px;
  padding-right: var(--container-padding);
  padding-left: var(--container-padding);
  margin: 0 auto;
  --container-padding: 50px;
}

section {
  padding-top: 80px;
}

@media (max-width: 576px) {
  .container {
    --container-padding: 15px;
  }
}
