@import url(./fonts.css);
@import url(./typography.css);
@import url(./variables.css);

@import url(./ui-kit/text-link.css);
@import url(./ui-kit/button.css);

@import url(./components/header.css);
@import url(./components/hero.css);


.container {
  max-width: 1600px;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .container {
    max-width: 924px;
  }
}
