.hero {
  background: url("assets.jpg") no-repeat center;
  background-size: cover;
  padding-top: 246px;
  padding-bottom: 146px;
}

.hero__container {
  display: flex;
  flex-direction: column;
  row-gap: 92px;
}

.hero__text-content {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.hero__title {
  max-width: 579px;
  color: var(--light-text-color);
}

.hero__description {
  max-width: 530px;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: var(--light-text-color);
}

@media (max-width: 1024px) {
  .hero {
    background-image: url("assets.jpg");
    padding-top: 248px;
    padding-bottom: 101px;
  }

  .hero__container {
    row-gap: 133px;
  }

  .hero__image {
    top: 147px;
  }

  .hero__description {
    max-width: 656px;
  }
}

@media (max-width: 768px) {
  .hero {
    background-image: url("assetsjpg");
    padding-top: 80px;
    padding-bottom: 86px;
  }

  .hero__container {
    padding-top: 154px;
    row-gap: 132px;
  }

  .hero__description {
    max-width: 556px;
  }
}

@media (max-width: 576px) {
  .hero {
    background-image: url("assetsjpg");
    padding-top: 80px;
    padding-bottom: 50px;
  }

  .hero__image {
    top: 0;
  }

  .hero__container {
    padding-top: 48px;
    align-items: center;
    row-gap: 36px;
  }

  .hero__text-content {
    align-items: center;
    row-gap: 10px;
  }

  .hero__title {
    max-width: 290px;
    text-align: center;
  }

  .hero__description {
    max-width: 264px;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    line-height: normal;
  }
}
